<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="lib/angular/angular.js"></script>
        <script src="./main.js"></script>
        <link rel="stylesheet" type="text/css" href="main.css">
        <title>Ohm Delivery</title>
    </head>
    <body>
        <div class="banner">
            <h1>Ohm Delivery</h1>
            <h2>Get shocked by the power</h2>
        </div>
        
        <div ng-app="ohm-delivery">
            <div ng-controller="tracking">
                <form ng-submit="sendData()">
                    <p>
                        <input id="tracking" type="text" ng-model="trackingId" placeholder="Enter your tracking id"/>
                    </p>
                    <p>
                        <button id="formBtn" type="submit">Submit</button>
                    </p>
                    <p>
                        <span ng-if="errorMessage">{{errorMessage}}</span>
                    </p>
                </form>
                <div id="orderContainer">
                    <div ng-if="orderDetails">
                        <div>
                            <label>Tracking Id: </label> {{orderDetails.data.trackingId}}
                        </div>
                        <div>
                            <label>Order Status: </label> {{orderDetails.data.status}}
                        </div>
                        <div>
                            <label>Comments: </label> {{orderDetails.data.comment}}
                        </div>
                        <div>
                            <label>Description: </label> {{orderDetails.data.description}}
                        </div>
                        <div>
                            <label>Client: </label> {{orderDetails.data.client}}
                        </div>
                        <div>
                            <ul>
                                <li ng-repeat="value in orderDetails.data.history">
                                    <div>{{ value.state }} at {{ value.at }}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div ng-controller="orderFinalStatus">
                        <div ng-if="orderDetails.data.status === 'IN_DELIVERY'">
                            Please mark the status of the order
                            <form ng-submit="sendData()">
                                <div class="concludeOrderInputs">
                                    <input type="radio" ng-model="status" checked="checked"  value="DELIVERED">Delivered
                                    <input type="radio" ng-model="status" value="REFUSED">Refused
                                    <div ng-show="status === 'REFUSED'">
                                        <textarea rows="10" cols="50" ng-model="comment" name="input" >Write something here</textarea>
                                    </div>
                                </div>
                                <button id="formBtnStatus" type="submit">Submit</button>
                                <span ng-if="confirmMessage">{{confirmMessage}}</span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>